header{
  background-color:#2a2c39;
  color:#bdc3c7;
  Font-Family:Arial,sons-serife;
  text-aligin:center;
  height:100 px ;
  margin:0;
  border:hone;
  width:100 %;
  display:flex;
  align-itens:center;
  justify-content:center;
}
html,body{
  margin:0;
  podding:0;
}
{
margin:0;
  podding:0;
  box-sizing:border;
}
body {
font-family: Arial, sans-serife;
  background: #0f0f0f;
  padding: 20 px;
  text-align: center;
}

.video-box {
  background: #a62121
;
  padding: 10 px;
  max-widht: 560 px;
  margin: auto;
  box-shadow: 0 2 px 5 px rgba (0,0,0,0,1)
}
video{
  widht:100 %
  border-radius: 4 px;
}
.info {
  margin-top:8 px;
}
.info h3 {
  font-size: 16 px;
  margin: 4 px 0;
  color: #002f6c;
}
.info p {
  font-soze: 13 px;
  color: #e0dfdf;
}
  
  
  
